<div class="admin-list-block">
    <div clas="adminInfoBlock">
       <h1>{{ title }}</h1>
       <p>
           {{ message }}
       </p>
    </div>
    <table class="admin-list-table">
        {% for key,h in head %}
            {%  if key == "options" and options.buttons.create  %}
                <th>
                    {{ h.label }} |
                    <a href="{{ options.buttons.create.url }}">
                        <div class="button">
                            Create New
                        </div>
                    </a>
                </th>
            {% else %}
                <th>{{ h.label }}</th>
            {% endif %}
        {% endfor %}
        {% for rowKey,row in data %}
            <tr>
                {% for field in row.fields %}
                    <td>{{ field }}</td>
                {% endfor %}
                <td>
                    {%  for option in row.options %}
                        <a
                            href="{{ option.path }}"
                            title="{{ option.label }}"
                            >{{ option.label }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}

    </table>
</div>