{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block message %}
    <p>{{ message }}</p>
{% endblock %}
{% block content %}
    <form action="{% if type == "edit" %}
                    {{ path('_group_edit',{"id":id}) }}
                  {% else %}
                    {{ path('_group_new') }}
                  {% endif %}"
          method="POST"
          id="{{ type }}_form">
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.active) }}
        {{ form_rest(form) }}
    </form>
{%  endblock %}