{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block message %}
    <p>{{ message }}</p>
{% endblock %}
{% block content %}
    <form action="{% if type == "edit" %}
                    {{ path('_email_edit') }}
                  {% else %}
                    {{ path('_email_new') }}
                  {% endif %}"
          method="POST"
          id="{{ type }}_form">
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.description) }}
        {{ form_rest(form) }}
    </form>
{%  endblock %}